*,*::before,*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
    font-family: "Calibri";
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: rgb(236, 235, 235);
    color: black;
    overflow-x: hidden;
}

body[theme='dark'] {
    background-color: rgb(24, 34, 40);
    background-color: rgb(35, 50, 58);
    color: white;
}

a {
    text-decoration: none;
    color: black;
}

body[theme='dark'] a {
    color: white;
}

.svg-icon{
    fill : black;
}

body[theme='dark'] .svg-icon{
    fill : white;
}

.highlight-text {
    background-color: rgb(245, 245, 245);
    padding: 0rem 0.5rem;
    color: rgb(0, 132, 255);
}

body[theme='dark'] .highlight-text {
    background-color: rgb(66, 65, 65);
    color: rgb(0, 204, 255);
}

.docs {
    padding: 1rem;

    .section {
        width: 100%;
        padding: 0.5rem;

        h1 {
            font-size: 2.4rem;
            font-weight: bold;
            margin: 0.5rem 0rem;
        }

        p {
            font-size: 1.6rem;
        }
    }
}

pre {
    margin: 1rem 0rem;
}

code::-webkit-scrollbar {
    height: 5px;
}

code::-webkit-scrollbar-button {
    display: none;
}

code::-webkit-scrollbar-thumb {
    background: transparent;
    height: 5px;
}

code::-webkit-scrollbar-thumb:hover {
    background: #0099ff;
}

code::-webkit-scrollbar-track {
    background: rgb(35, 35, 35);
}